/* 2X laptop */
@media screen and (max-width: 1536px) {
}

/* Laptop */
@media screen and (max-width: 1280px) {
}

/* Laptop */
@media screen and (max-width: 1024px) {
  .page-right {
    display: none;
  }

  .white {
    width: 60%;
  }
  .name {
    display: none;
  }
  .status {
    display: none;
  }
  .search {
    width: 160px;
  }
  .navbar-text {
    display: none;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .page-left {
    display: none;
  }
  .white {
    width: 40%;
  }

  .page-content {
    margin-left: 100px;
  }
}

/* Mobile */
@media screen and (max-width: 640px) {
  .page-content {
    width: 100%;
  }
}
